## Data Prep - Part 3

### Removing Duplicate Values

In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [2]:
df = DataFrame({"c1": [1,1,2,2,3,3,3],
    "c2": ['a','a','b','b','c','c','c'],
    "c3": ['A','A','B','B','C','C','C']})
df

   c1 c2 c3
0   1  a  A
1   1  a  A
2   2  b  B
3   2  b  B
4   3  c  C
5   3  c  C
6   3  c  C

To find 'rows' that have been duplicated earlier in the dataframe using the `duplicated` method. This returns a boolean True / False if a row is a duplicate (or not).

In [3]:
df.duplicated()

0    False
1     True
2    False
3     True
4    False
5     True
6     True
dtype: bool

To _drop_ the duplicated rows we can use the `drop_duplicates` method :-

In [7]:
df.drop_duplicates()

   c1 c2 c3
0   1  a  A
2   2  b  B
4   3  c  C

It is also possible to _drop_ rows from a dataframe based on column values. So (using an amended dataframe) lets drop rows based on the duplicated values in column `c3`.

In [8]:
df2 = DataFrame({"c1": [1,1,2,2,3,3,3],
    "c2": ['a','a','b','b','c','c','c'],
    "c3": ['A','A','B','B','C','D','C']})
df2

   c1 c2 c3
0   1  a  A
1   1  a  A
2   2  b  B
3   2  b  B
4   3  c  C
5   3  c  D
6   3  c  C

In [9]:
df2.drop_duplicates(['c3'])

   c1 c2 c3
0   1  a  A
2   2  b  B
4   3  c  C
5   3  c  D